@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;

}

.grid-chars{
  margin: 25px;
  padding: 25px;
  width: 80vw;
  background-color: #fff;
  color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  text-align: center;
  justify-content: space-between;
  row-gap: 20px;
  flex-wrap: wrap;
  border-radius: 20px;
}

.container-char{
  border-radius: 30px;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.icone-char{
  min-width: 300px;
  border-radius: 20px;
}

.text-char{
  font-size: 24px;
  font-weight: 500;
  transform: translateY(-100%);
}

.linha-pesquisar{
  position: relative;
  width: 100%;
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.pesquisar-input{
  border: #000 solid 1px;
  border-radius: 8px;
  padding: 10;
}

.linha-pages{
  width: 100%;
  position: relative;
  display: flex;
  gap: 5px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.button-page{
  background-color: #c1c1c1;
  padding: 7px 12px ;
  cursor: pointer;
  border-radius: 5px;
}

.container-ricks{
  border-radius: 30px;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}